.bx-controller-customizations-container {
    .bx-btn-detect {
        display: block;
        margin-bottom: 20px;

        &.bx-monospaced {
            background: none;
            font-weight: bold;
            font-size: 12px;
        }
    }

    .bx-buttons-grid {
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 20px;
        row-gap: 10px;
        margin-bottom: 20px;
    }

}

.bx-controller-key-row {
    display: flex;
    align-items: stretch;

    > label {
        margin-bottom: 0;
        font-family: var(--bx-promptfont-font);
        font-size: 32px;
        text-align: center;
        min-width: 50px;
        flex-shrink: 0;
        display: flex;
        align-self: center;

        &::after {
            content: '❯';
            margin: 0 12px;
            font-size: 16px;
            align-self: center;
        }
    }

    .bx-select {
        width: 100% !important;

        > div {
            min-width: 50px;
        }

        label {
            font-family: var(--bx-promptfont-font), var(--bx-normal-font);
            font-size: 32px;
            text-align: center;
            margin-bottom: 6px;
            height: 40px;
            line-height: 40px;
        }
    }

    &:hover {
        > label {
            color: #ffe64b;

            &::after {
                color: #fff;
            }
        }
    }
}

.bx-controller-customization-summary {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    margin-top: 10px;

    span {
        font-family: var(--bx-promptfont);
        font-size: 24px;
        border-radius: 6px;
        background: #131313;
        color: #fff;
        display: inline-block;
        padding: 2px;
        text-align: center;
    }
}
