.bx-mkb-settings {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-bottom: 10px;
    overflow: hidden;
}

.bx-mkb-pointer-lock-msg {
    user-select: none;
    -webkit-user-select: none;
    position: fixed;
    left: 50%;
    bottom: 40px;
    transform: translateX(-50%);
    margin: auto;
    background: #151515;
    z-index: var(--bx-mkb-pointer-lock-msg-z-index);
    color: #fff;
    font-weight: 400;
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    padding: 12px;
    border-radius: 8px;
    align-items: center;
    box-shadow: 0 0 6px #000;
    min-width: 300px;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    gap: 10px;

    &:hover {
        opacity: 1;
    }

    > p {
        margin: 0;
        width: 100%;
        font-size: 22px;
        margin-bottom: 4px;
        font-weight: bold;
        text-align: left;
    }

    > div {
        width: 100%;
        display: flex;
        flex-direction: row;

        gap: 10px;
        button {
            &:first-of-type {
                flex-shrink: 1;
            }

            &:last-of-type {
                flex-grow: 1;
            }
        }
    }
}

.bx-mkb-key-row {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    gap: 20px;


    label {
        margin-bottom: 0;
        font-family: var(--bx-promptfont-font);
        font-size: 32px;
        text-align: center;
    }
}


.bx-mkb-settings.bx-editing .bx-mkb-key-row button {
    background: #393939;
    border-radius: 4px;
    border: none;

    &:hover {
        background: #333;
        cursor: pointer;
    }
}

.bx-mkb-action-buttons {
    > div {
        text-align: right;
        display: none;
    }

    button {
        margin-left: 8px;
    }
}

.bx-mkb-settings:not(.bx-editing) .bx-mkb-action-buttons > div:first-child {
    display: block;
}

.bx-mkb-settings.bx-editing .bx-mkb-action-buttons > div:last-child {
    display: block;
}

.bx-mkb-note {
    display: block;
    margin: 0 0 10px;
    font-size: 12px;
    text-align: center;
}

button.bx-binding-button {
    flex: 1;
    min-height: 38px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    color: #fff;
    display: flex;
    align-items: center;
    align-self: center;
    padding: 0 6px;

    &:disabled {
        background: #131416;
        padding: 0 8px;
    }

    &:not(:disabled) {
        border: 2px solid transparent;
        border-top: none;
        border-bottom: 4px solid #252525;
        background: #3b3b3b;
        cursor: pointer;

        &:hover, &.bx-focusable:focus {
            background: #20b217;
            border-bottom-color: #186c13;
        }

        &:active {
            background: #16900f;
            border-bottom: 3px solid #0c4e08;
            border-left-width: 2px;
            border-right-width: 2px;
        }

        &.bx-focusable:focus {
            &::after {
                top: -6px;
                left: -8px;
                right: -8px;
                bottom: -10px;
            }
        }
    }

    .bx-settings-row .bx-binding-button-wrapper & {
        min-width: 60px;
    }
}
