.bx-navigation-dialog {
    position: absolute;
    z-index: var(--bx-navigation-dialog-z-index);
    font-family: var(--bx-title-font);

    *:focus {
        outline: none !important;
    }

    select:disabled {
        -webkit-appearance: none;
        text-align-last: right;
        text-align: right;
        color: #fff;
        background: #131416;
        border: none;
        border-radius: 4px;
        padding: 0 5px;
    }

    .bx-focusable {
        &::after {
            border-radius: 4px;
        }

        &:focus::after {
            offset = 0;

            top: offset;
            left: offset;
            right: offset;
            bottom: offset;
        }
    }
}

.bx-navigation-dialog-overlay {
    position: fixed;
    background: #0b0b0be3;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: var(--bx-navigation-dialog-overlay-z-index);

    &[data-is-playing="true"] {
        background: transparent;
    }
}

.bx-centered-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: white;
    background: #1a1b1e;
    border-radius: 10px;
    min-width: @css{ min(calc(100vw - 20px), 500px) };
    max-width: calc(100vw - 20px);
    margin: 0 0 0 auto;
    padding: 16px;

    max-height: 95vh;
    flex-direction: column;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    .bx-dialog-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 10px;

        p {
            padding: 0;
            margin: 0;
            flex: 1;
            font-size: 1.5rem;
            font-weight: bold;
        }

        button {
            flex-shrink: 0;
        }
    }

    .bx-dialog-content {
        flex: 1;
        padding: 6px;
        overflow: auto;
        overflow-x: hidden;
    }

    .bx-dialog-preset-tools {
        display: flex;
        margin-bottom: 12px;
        gap: 6px;

        button {
            align-self: center;
            min-height: 50px;
        }
    }

    .bx-default-preset-note {
        font-size: 12px;
        font-style: italic;
        text-align: center;
        margin-bottom: 10px;
    }
}

.bx-centered-dialog,
.bx-settings-dialog {
    input {
        accent-color: var(--bx-primary-button-color);

        &:focus {
            accent-color: var(--bx-danger-button-color);
        }
    }

    select:disabled {
        -webkit-appearance: none;
        background: transparent;
        text-align-last: right;
        border: none;
        color: #fff;
    }

    select option:disabled {
        display: none;
    }

    input[type=checkbox],
    select {
        &:focus {
            filter: drop-shadow(1px 0 0 #fff) drop-shadow(-1px 0 0 #fff) drop-shadow(0 1px 0 #fff) drop-shadow(0 -1px 0 #fff);
        }
    }

    a {
        color: #1c9d1c;
        text-decoration: none;

        &:hover, &:focus {
            color: #5dc21e;
        }
    }

    label {
        margin: 0;
    }
}

.bx-controller-shortcuts-manager-container {
    .bx-shortcut-note {
        margin-top: 10px;
        font-size: 14px;
        text-align: center;
    }

    .bx-shortcut-row {
        display: flex;
        gap: 10px;
        margin-bottom: 10px;
        align-items: center;

        label.bx-prompt {
            flex-shrink: 0;
            font-size: 32px;
            margin: 0;

            &::first-letter {
                letter-spacing: 6px;
            }
        }
    }

    select:disabled {
        text-align: left;
        text-align-last: left;
    }
}

.bx-keyboard-shortcuts-manager-container {
    display: flex;
    flex-direction: column;
    gap: 16px;

    fieldset {
        background: #2a2a2a;
        border: 1px solid #2a2a2a;
        border-radius: 4px;
        padding: 4px;
    }

    legend {
        width: auto;
        padding: 4px 8px;
        margin: 0 4px 4px;
        background: #004f87;
        box-shadow: 0px 2px 0px #071e3d;
        border-radius: 4px;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
    }

    .bx-settings-row {
        background: none;
        padding: 10px;
    }
}
